$color_body: #0d1117;
$color_font_header: #ffffff;

body {
    font-family: cursive;
    padding: 0px;
    margin: 0px;
    background: $color_body;
    overflow-x: hidden;
}

.header {
    background-color: #161b22;
    color: $color_font_header;
    #icone_git {
        font-size: 30px;
        margin-right: 5px;
    }
    .titulo {
        font-size: 26px;
    }
}

#input_area {
    .btn {
        color: #c9d1d9;
        background-color: #30363d;
        border: 1px solid #30363d;
        border-radius: 10px;
        transition: 0.8s;
    }

    .btn-submit:hover {
        color: #ffffff;
        background: linear-gradient(45deg, #1a9e76, #1abe8d);
        transform: translateY(-10%);
    }
    .btn-limpar:hover {
        color: #ffffff;
        background: linear-gradient(45deg, #e60f33, #ff193f);
        transform: translateY(-10%);
    }
}

@keyframes slidein {
    from {
        transform: translate(1000px);
    }

    to {
        transform: translate(0px);
    }
}

.card {
    animation-duration: 1s;
    animation-name: slidein;
    background-color: #161b22;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 15, 0.4), 0 5px 20px rgba(5, 020, 15, 0.3);
    transition: 1.5s;
    margin: 20px;
    &:hover {
        background-color: #202731;
        transform: scale(1.05);
        cursor: pointer;
    }
    .icon_git {
        color: #c9d1d9;
        font-size: 20px;
    }
    img {
        border-radius: 100px;
        height: 120px;
        width: 120px;
    }
    .name {
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 1px;
    }
    .user {
        color: #c9d1d9;
        font-size: 13px;
        font-weight: 300;
    }
    .infos {
        color: #c9d1d9;
        border-radius: 10px;
        font-size: 15px;
        font-weight: 300;
        .info-item {
            padding: 5px;
            margin: 5px;
            .number {
                font-size: 28px;
                font-weight: 500;
            }
        }
    }
}

#footer {
    background-color: #161b22;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 1px;
    transition: 1s;
    a {
        font-weight: 600;
        cursor: pointer;
        text-decoration: none;
        color: #4ea0ff;
    }
}

.modal-content{
    font-size: 18px;
    letter-spacing: 0.5px;
    color: #ffffff;
    background-color: #161b22;
    .btn-fechar{
        background: linear-gradient(45deg, #e60f33, #ff193f);
        transition: 0.5s;
        color: #ffffff;
        &:hover{
            transform: translateY(-10%);
        }
    }
}
